@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #202020;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@layer base {
  h1 {
    @apply font-medium text-4xl;
  }
  h2 {
    @apply font-bold text-2xl md:text-3xl xl:text-4xl;
  }
  h3 {
    @apply font-semibold text-base xl:text-lg;
  }
  p {
    @apply text-base md:text-lg;
  }
}

@layer components {
  .animate {
    @apply transition-all duration-300;
  }
  .animate500 {
    @apply transition-all duration-500;
  }
  .pBigger {
    @apply text-lg md:text-xl;
  }
  .pBigger2 {
    @apply text-xl md:text-2xl;
  }
  .pBigger3 {
    @apply text-xl md:text-4xl;
  }
  .pSmaller {
    @apply text-base;
  }
  .pSmaller2 {
    @apply text-sm;
  }
  .pSmaller3 {
    @apply text-xs;
  }
}

.border-gradient-about {
  border-image: linear-gradient(
      to right,
      #bfbfbf,
      #3c3c3c,
      #302e2e,
      #2b2a2a,
      #4f4f4f
    )
    1;
}

.border-gradient-navbar {
  border-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      #b7b7b7,
      #343434,
      rgba(191, 191, 191, 0.45),
      rgba(191, 191, 191, 0)
    )
    1;
}

.bg-layer {
  background: linear-gradient(
    112deg,
    rgba(191, 191, 191, 0.85) 0%,
    rgba(60, 60, 60, 0.85) 42.5%,
    rgba(48, 46, 46, 0.85) 52.4%,
    rgba(43, 42, 42, 0.85) 84.17%,
    rgba(79, 79, 79, 0.85) 100%
  );
  backdrop-filter: blur(2px);
}

.border-project {
  /* box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25); */
  border-image: linear-gradient(to right, #797979, #ffffff) 1;
}
